.copyright {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}
.button {
    background-color: var(--menu-text-color);
    color: #ffffff;
}