.title-text {
    color: var($text-col);
    font-family: Kaushan Script;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
}

.section-title {
    color: var($text-col);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
}
.item {
    color: var(--logo-color);
    list-style: none;
}
.in-section-title {
    color: var(--text-col);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}
  
.in-section-sub-title {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}