.logo {
   color: var(--logo-color);
  font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-decoration: none;
  }
  .menu-link {
    color: var(--logo-color);
    text-decoration: none;
  }
  
  .item {
    color: var(--logo-color);
    list-style: none;
  }